# Archivos de configuración y bases de datos
WebAPI/appsettings.json

# Node modules
cursos-online-app/node_modules/

# Build directory
cursos-online-app/build/cursos-online-app/

# Logs
cursos-online-app/cursos-online-app/npm-debug.log*
cursos-online-app/yarn-debug.log*
cursos-online-app/yarn-error.log*cursos-online-app/

# Dependency directories
cursos-online-app//.pnp
cursos-online-app/.pnp.jscursos-online-app/

# Testing
cursos-online-app/coverage/

# Miscellaneous
cursos-online-app/.DS_Store
.env
cursos-online-app/.env.local
cursos-online-app/.env.development.local
cursos-online-app/.env.test.local
cursos-online-app/.env.production.local

# Editor directories and files
cursos-online-app/.vscode/
cursos-online-app/.idea/
cursos-online-app/*.suo
cursos-online-app/*.ntvs*
cursos-online-app/cursos-online-app/*.njsproj
cursos-online-app/*.sln

# MacOS files
cursos-online-app/Thumbs.db

# Archivos de entorno de desarrollo
WebAPI/.vscode/
WebAPI/.idea/
WebAPI/*.suo
WebAPI/*.user
WebAPI/*.userosscache
WebAPI/*.sln.docstates

# Archivos de compilación
WebAPI/*.dll
WebAPI/*.exe
WebAPI/*.pdb
WebAPI/*.cache
WebAPI/*.ilk
WebAPI/*.log
WebAPI/*.wrn
WebAPI/*.err
WebAPI/*.log
WebAPI/*.vspscc
WebAPI/*.vssscc

# Paquetes de NuGet
WebAPI/*.nupkg
# Directorio de paquetes de NuGet
packages/
# Directorio de las dependencias instaladas
WebAPI/bin/
WebAPI/obj/
Persistencia/bin/
Persistencia/obj/
Seguridad/bin/
Seguridad/obj/
Dominio/bin/
Dominio/obj/
Aplicaion/bin/
Aplicaion/obj/

# Archivos de publicación
WebAPI/*.Publish.xml
WebAPI/*.pubxml
WebAPI/*.pubxml.user

# Archivos de despliegue de Azure
WebAPI/.scmignore
WebAPI/.env

# Archivos de configuración locales
WebAPI/*.local.settings.json
WebAPI/.vscode/

# Archivos de configuración de Rider
WebAPI/.idea/

# Logs
WebAPI/*.log
